/* Header.css */

/* .tf__topbar {
  background: var(--colorBlack);
  width: 100%;
  height: 50px;
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all linear 0.2s;
}

.main_menu {

  width: 100%;
  height: 90px; 
  background: var(--colorWhite);
  position: fixed !important;
  top: 50px;
  left: 0;
  border-bottom: 1px solid #eee;
  z-index: 99;
  transition: all linear 0.2s;
} */

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hide the topbar when scrolled down */
/* .tf__topbar.hidden {
  position: fixed;
  transform: translateY(-50px);
  transition: transform linear 0.2s;
} */

/* Show the topbar when scrolled to the top */
/* .tf__topbar.visible {
  transform: translateY(0);
  transition: transform linear 0.2s;
} */
